@use 'variaveis';
@use 'mixins';
@use 'base';
@use 'layout';
@use 'componentes';

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    gap: variaveis.$spacing-sm;
  }

  .nav__list {
    flex-direction: column;
  }

  .banner__title {
    font-size: 1.8rem;
  }
}
